html,
body {
	height: 100%;
	width: 100%;
	margin:0;
	padding: 0;
}

.wrap {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	color: #FFF;
	text-align: center;
	background: #FFF;
}

header {
	background: transparent;
	box-shadow: 0 .5em 1em #111;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
}

header label {
	color: #E8351F;
	cursor: pointer;
	display: inline-block;
	line-height: 4.25em;
	font-size: 1em;
	font-weight: bold;
	padding: 0 1em;
}

header label:hover {
	background: #B5E1E8;
}

.slide {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 10;
	padding: 8em 1em 0;
	background-color: #FFF;
	background-position: 50% 50%;
	background-size: cover;
	transition: left 0s .75s;
}

.slide {
	background-image: url(../img/sidebg.jpg)
}

.slide h1 {
  color: FF8F1E;
	opacity: 0;
	transform: translateY(100%);
	transition: transform .5s .5s, opacity .5s;
}

.slide table {
	opacity: 0;
	transform: translateY(100%);
	transition: transform .5s .5s, opacity .5s;
}

[id^='slide']:checked + .slide {
	left: 0;
	z-index: 100;
	transition: left .65s ease-out;
}

[id^='slide']:checked + .slide h1 {
	opacity: 1;
	transform: translateY(0);
	transition: all .5s .5s;
}
[id^='slide']:checked + .slide table {
	opacity: 1;
	transform: translateY(0);
	transition: all .5s .5s;

}

